<!--inherits the layout-->
{% extends '_base.html' %}
<!--static-->
{% load static %}
<!--title-->
{% block title %}{{page_title}}{% endblock title %}

<!--additional css-->

<!--content-->
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-4 is-4">
        <h1 class="title">Recorded audio</h1>
        <div class="card">
          <div class="card-image">
            <audio src="{{record.voice_record.url}}" controls></audio>
          </div>
          <div class="card-content">
            <div class="content">
              <p>Language: {{record.language}}</p>
              <p
                id="result"
                style="display: none"
                {% if record.result == "Healthy" %} class="green" {% else %} class="red" {% endif %}>
                Result: {{record.result}}
              </p>
              <p id="loader">
                <img
                  src="{% static 'assets/images/loading.gif' %}"
                  alt="Logo"
                  alt="loading"
                  width="50px"
                  length="100px"
                />
              </p>
              <p id="transcript" style="display: none">Transcript: {{record.transcript}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  let result = document.getElementById("result");
  let loader = document.getElementById("loader");
  let transcript = document.getElementById("transcript");
  setTimeout(() => {
    loader.style.display = "none";
    result.style.display = "block";
    transcript.style.display = "block";
  }, 3000);
</script>

<style>
  .red {
    color: red;
  }

  .green {
    color: green;
  }
</style>

{% endblock content %}
